## obj directory is generated through dotnet new console
obj/

## bin/ directory is generated through dotnet new console
bin/

## .csproj and .sln
Projects/*/*.csproj
Projects/*/*.sln
Assignments/*/*.csproj
Assignments/*/*.sln
Exercises/*/*.csproj
Exercises/*/*.sln

## WPF
Exercises/WPF/.vs

