## obj directory is generated through dotnet new console
obj/

## bin/ directory is generated through dotnet new console
bin/

## .csproj .sln .vs
Projects/*/*.csproj
Projects/*/*.sln
Assignments/*/*.csproj
Assignments/*/*.sln
Exercises/WPF/.vs
Exercises/WPF/.vs/*
.vs


## WPF


